/* width and height in media.css */
/* links style in media.css */

#carousel{    
    display: inline-flex;
    color: transparent;
    overflow: hidden;
    
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

#card-1,
#card-2,
#card-3,
#card-4{
    /* cards fallback whereas it's loading */
    background-color: var(--black-o);
    z-index: -100;
}

/*-------------|
Cards animation|
--------------*/

.cards-fade-on{
    transition: 0.5s ease;
    opacity: 0;
    
    position: fixed;
    margin: auto;
}

.cards-fade-off{
    transform: translateX(-100%);
    position: fixed;
    margin: auto;
}